.wrapper {
    width: 100%;
    height: var(--default-layout-height);
}

.inner {
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.light {
    font-weight: 300;
}