@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap");

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --bg-color: #343d4b;
  --bg-color--card: #222831;

  --main-text-color: #ffffff;

  --main-border-radius: 25px;
  --secondary-border-radius: 15px;

  --default-layout-width: 900px;
  --default-layout-height: 500px;
  --default-layout-header-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}
